* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}
.heroi{
padding: 45px; 
text-align:justify;
    border-radius: 625px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  24px 24px 49px #bebebe,
             -24px -24px 49px #ffffff;
    width: 200px;
    position: relative;
    z-index:-50px;
    margin-top:150px !important;
    
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background: url("https://static3.tcdn.com.br/img/img_prod/460977/estatua_charmander_musculoso_fitness_academia_pokemon_17cm_101863_1_77c400ea49d4bf223af3d57a384f4796.jpeg") no-repeat center center;
    background-size: cover;
    height: 92vh;
    position:static;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.social_icons li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    color: #555;
    background: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0 / 50%);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
}

.social_icons li a ::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b2b2b2;
    transition: 0.5s;
    transform: rotate(0deg);
}

.social_icons li a::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #e5e5e5;
    transition: 0.5s;
    transform: rotate(0deg);
}

.social_icons li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.social_icons li:hover .fa {
    color: #fff;
}

.social_icons li:hover:nth-child(1) a {
    background-color: #3b5999;
}

.social_icons li:hover:nth-child(1) a::before {
    background-color: #2f477a;
}

.social_icons li:hover:nth-child(1) a::after {
    background-color: #4e69a3;
}